@import url('https://ws-static-cdn.subat.cn/public/font/alkatip-basma-tom/stylesheet.css');

.TagLabel {
  font-size: 85%;
  font-weight: 600;
}
.TagLabel.colored .TagLabel-text {
  font-family: 'ALKATIP Basma Tom', tahoma;
  font-weight: 200;
}
.DiscussionHero .TagsLabel .TagLabel {
  font-size: 14px;
}
.DiscussionHero .TagsLabel .TagLabel.colored .TagLabel-text {
  font-family: 'ALKATIP Basma Tom', tahoma;
  font-weight: 200;
}
